.icon_bar{
    padding-top:45px;
    width: 4.65vw;
    height:82.2vh;
    background-color:#000066;
  
    
}

.icon_bar a {
    display: block;
    text-align: center;
    padding: 10px 16px 16px 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 2.5vw;
}

.tooltip{
    color: white;
    padding-left:5px;
    font-family: 'Allerta Stencil', sansa-serif;
    
    text-align: center;
}

.icon_bar a:hover {
    background-color: #2980b9;
}


/*.active {
    background-color: #2980b9 ;
}*/
