<body>
  <div class="icon_bar">
      
      <span style="font-size:12px;" class="tooltip">Contact</span>
      <a class="active" href="#"><i class="fa fa-address-card"></i>
        
      </a> 
      <span style="font-size:12px;" class="tooltip">Projects</span>
      <a href="#"><i class="fa fa-tasks"></i></a> 
      <span style="font-size:12px;" class="tooltip">Groups</span>
      <a href="#"><i class="fa fa-users"></i></a> 
      <span style="font-size:12px;" class="tooltip">To Dos</span>
      <a href="#"><i class="fa fa-calendar-check-o "></i></a>
      <span style="font-size:12px;" class="tooltip">Alerts</span>
      <a href="#"><i class="fa fa-bell"></i></a> 
  </div>
</body>

